// This is required by https://github.com/pskordilakis/vuepress-plugin-tabs
@require '~vuepress-plugin-tabs/dist/themes/default.styl'

// Following code increases width. Without increased width the ascii diagrams dont render properly.
// Ref: https://github.com/vuejs/vuepress/issues/1867#issuecomment-533055308
div.theme-default-content:not(.custom) {
    max-width: 100%;
}